<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="My_Log" value="logs/app.log"/>
    <property name="error_log" value="logs/error.log"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS}   - %msg%n
            </Pattern>
        </layout>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${My_Log}</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <Pattern> %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n </Pattern>
         </encoder>
    </appender>
    <appender name="FILE_ERROR" class="ch.qos.logback.core.FileAppender">
        <file>${error_log}</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <Pattern> %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n </Pattern>
         </encoder>
    </appender>
    <logger name="org.example" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        
    </logger>
    <logger name="org.example" level="warn" additivity="false">
       
        <appender-ref ref="FILE_ERROR"/>
        
    </logger>
   
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>